&gpu {
	status = "okay";
};

&rtc {
	status = "okay";
};

&fpd_dma_chan1 {
	status = "okay";
};

&fpd_dma_chan2 {
	status = "okay";
};

&fpd_dma_chan3 {
	status = "okay";
};

&fpd_dma_chan4 {
	status = "okay";
};

&fpd_dma_chan5 {
	status = "okay";
};

&fpd_dma_chan6 {
	status = "okay";
};

&fpd_dma_chan7 {
	status = "okay";
};

&fpd_dma_chan8 {
	status = "okay";
};

&gpio {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;
	atsha204a@64 {
		status = "okay";
		compatible = "atmel,atsha204a", "atmel,atsha204-i2c";
		reg = <0x64>;
	};
};

&sdhci0 {
	status = "okay";
	non-removable;
	disable-wp;
	bus-width = <8>;
};

&uart0 {
	status = "okay";
};

&xilinx_ams {
	status = "okay";
};

&ams_ps {
	status = "okay";
};

&ams_pl {
	status = "okay";
};
