/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
/include/ "zynq-7000.dtsi"
/include/ "zynq-enclustra-zx-common.dtsi"
/include/ "zynq-enclustra-qspi-parts.dtsi"

/ {
	model = "Enclustra Cosmos XZQ10 Board";

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};
};

&uart0 {
	status = "okay";
};

&sdhci1 {
	status = "okay";
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci1_default>;
};

&isl12022 {
	status = "okay";
};

&pinctrl0 {
	pinctrl_sdhci1_default: sdhci1-default {
		mux {
			function = "sdio1";
			groups = "sdio1_0_grp";
		};

		conf {
			groups = "sdio1_0_grp";
			slew-rate = <0>;
			io-standard = <1>;
			bias-disable;
		};
	};
};

&i2c0 {
	i2c_mux: i2c_mux@74 {
		compatible = "nxp,pca9547";
		reg = <0x74>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c_mux@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			pcal6416@20 {
				compatible = "ti,tca6416";
				reg = <0x20>;
			};

			lm96080@2f {
				compatible = "lm80";
				reg = <0x2f>;
			};
		};
	};
};
