/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
/include/ "zynq-7000.dtsi"
/include/ "zynq-enclustra-zx-common.dtsi"
/include/ "zynq-enclustra-qspi-parts.dtsi"
#include <dt-bindings/clock/clk-si5338.h>

/ {
	model = "Enclustra Cosmos XZQ10 Board";

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};
};

&amba {
	ref24: ref24M {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};
};

&uart0 {
	status = "okay";
};

&sdhci1 {
	status = "okay";
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci1_default>;
};

&isl12022 {
	status = "okay";
};

&pinctrl0 {
	pinctrl_sdhci1_default: sdhci1-default {
		mux {
			function = "sdio1";
			groups = "sdio1_0_grp";
		};

		conf {
			groups = "sdio1_0_grp";
			slew-rate = <0>;
			io-standard = <1>;
			bias-disable;
		};
	};
};

&i2c0 {
	i2c_mux: i2c_mux@74 {
		compatible = "nxp,pca9547";
		reg = <0x74>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c_mux@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			pcal6416@20 {
				compatible = "ti,tca6416";
				reg = <0x20>;
			};

			lm96080@2f {
				compatible = "lm80";
				reg = <0x2f>;
			};

			si5338@70 {
				compatible = "silabs,si5338";
				reg = <0x70>;
				#address-cells = <1>;
				#size-cells = <0>;
				#clock-cells = <1>;

				clocks = <0>, <0>, <&ref24>, <0>, <0>;
				clock-names = "xtal", "in12", "in3", "in4", "in56";

				silab,ref-source = <SI5338_REF_SRC_CLKIN3>;
				silab,fb-source = <SI5338_FB_SRC_NOCLK>;
				silab,pll-source = <SI5338_PFD_IN_REF_REFCLK>;

				/* output */
				clkout0 {
					reg = <0>;
					silabs,drive-config = "3V3_LVDS";
					silabs,clock-source = <SI5338_OUT_MUX_MSN>;
					silabs,disable-state = <SI5338_OUT_DIS_HIZ>;
					clock-frequency = <125000000>;
				};
				clkout1 {
					reg = <1>;
					silabs,drive-config = "3V3_LVDS";
					silabs,clock-source = <SI5338_OUT_MUX_MSN>;
					silabs,disable-state = <SI5338_OUT_DIS_HIZ>;
					clock-frequency = <125000000>;
				};
				clkout2 {
					reg = <2>;
					silabs,drive-config = "3V3_LVDS";
					silabs,clock-source = <SI5338_OUT_MUX_MSN>;
					silabs,disable-state = <SI5338_OUT_DIS_HIZ>;
					clock-frequency = <125000000>;
				};
				clkout3 {
					reg = <3>;
					silabs,drive-config = "3V3_LVDS";
					silabs,clock-source = <SI5338_OUT_MUX_MSN>;
					silabs,disable-state = <SI5338_OUT_DIS_HIZ>;
					clock-frequency = <125000000>;
				};
			};
		};
	};
};
